<% @posts.reverse.each do |post| %>
<div style="border: 1px solid #ffffff">
  <p><img src="<%= post.image_url(:thumb) %>"</p>
  <h4><a href="/foods/show/<%= post.id %>"><%= post.title %></a> [<%= post.comments.count %>]</h4>
  <p style="color: #ff0000"><%= post.category %></p>
  <p><strong><%= post.user.username %></strong></p>
</div>
<% end %>
