<div class="container">
	<% @posts.reverse.each do |post| %>
	<div class="row">
		<div class="panel panel-danger">
		  	<div class="panel-heading">
		  		<h5 class="panel_title"><a href="/foods/show/<%= post.id %>"><%= post.title %></a><small></small><span class="badge"><%= post.comments.count %></span></small></h5>
		  	</div>
			<div class="panel-body">
				<div class="col-md-6">
				  <p class="text-center"><img class="img-rounded"src="<%= post.image_url(:thumb) %>"></p>
				</div>
				<div class="col-md-6">
					<p style="color: #ff0000"><span class="label label-warning"><%= post.category %></span></p>
					<p><strong><%= post.user.username %></strong></p>
				</div>
			</div>
		
		</div>
	</div>
	<% end %>		
</div>

<!--
<div class="container">
	<% @posts.reverse.each do |post| %>
	<div class="row">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h5 class="panel_title"><a href="/foods/show/<%= post.id %>"><%= post.title %></a><small></small><span class="badge"><%= post.comments.count %></span></small></h5>
		<div class="panel-body">
		<div class="col-md-6">
		  <p class="text-center"><img class="img-rounded"src="<%= post.image_url(:thumb) %>"></p>
		</div>
		<div class="col-md-6">
			<div class="col-md-10">
		  		</div>
				<p style="color: #ff0000"><span class="label label-warning"><%= post.category %></span></p>
				<p><strong><%= post.user.username %></strong></p>
			</div>
			</div>
		</div>
		</div>	
	</div>
	<% end %>	
</div>
-->